@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.MainContainer {
  padding: auto 50px;
  background-color: rgb(241, 241, 241);
  color: #00000061;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.textContainer h4 span {
  line-height: 30px;
  border-bottom: 3px solid #dba05cdb;
  width: max-content;
  padding-bottom: 10px;
}

.heading {
  color: black;
  font-weight: 100;
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  line-height: 0;
  margin: 45px;
}

.paragraph {
  width: 45%;
  text-align: center;
}

.button2 {
  color: "white";
  width: 140px;
  border: 2px solid #be8645ec;
  background-color: #be8645ec;
  border-radius: 0px;
}

.button2:hover {
  background-color: #be8645ec;
}
